<!DOCTYPE html>
#@layout_web_adv()

#define title()
<title>捷恪卫-推广页面</title>
#end

#define main()
<body>
<div class="details_box">
    <div class="banner_box">
        <img src="res/img/banner.jpg"/>
    </div>
    <div class="details_cont">
        <div class="details_infor">
            <div class="details_tit">
                捷伴成长•精英汇集｜“MPN临床实践学院-精英病例播咖”活动精彩上线
            </div>
            <div class="details_block">
                骨髓增殖性肿瘤（MPN）是一类起源于骨髓造血干细胞系统的一类恶性肿瘤，以血细胞不同程度的升高、脾脏肿大为主要临床表现，至今仍不可治愈。近年来，随着分子生物学研究的不断深入，以及基因检测技术的迅速发展，针对JAK/STAT通路的靶向药物芦可替尼的出现，给骨髓纤维化（MF）患者带来了新的希望。然而精确诊断、规范用药，是实现有效治疗的前提，对于最大化患者的获益至关重要，需引起每位血液科医生的重视。
            </div>
            <div class="details_sign">
                <span>从实践出发，探讨MPN优化管理</span>
            </div>
            <div class="details_block">
                为提升血液科医生对MPN疾病的认知、诊疗思路与实战技能，诺华肿瘤与医脉通血液科平台特推出“<span style="font-weight: bold;">MPN临床实践学院-精英病例播咖</span>”活动，邀请国内多位血液病大咖，以病例解析的形式，围绕MPN的疾病特点、鉴别诊断、治疗策略的选择与优化、患者的全程管理以及多学科综合治疗（MDT）模式等方面，分享最有价值的学术“干货”，助力我国MPN规范化进程，使患者获益。
            </div>
            <div class="details_sign">
                <span>顶尖专家阵容，精选病例解析</span>
            </div>
            <div class="details_block">
                第二场病例展播火热上线，五位血液科专家坐镇，通过深入解析病例，探讨骨髓纤维化疾病的临床诊疗思路。
            </div>
            <div class="details_pic">
                <img src="res/img/bg3.jpg" />
            </div>
            <div class="details_sign">
                <span class="red">观看方式</span>
            </div>
            <div class="details_way">
                <div class="way_first">
                    <div class="tit">第一步</div>
                    <div>
                        微信搜索、并关注“医脉通血液科”公众号。
                    </div>
                </div>
                <div class="way_second">
                    <div class="tit">第二步</div>
                    <div>
                        进入公众号，点击最下方“学术交流”—“MPN病例播咖”。
                    </div>
                </div>
                <div class="way_third">
                    <div class="tit">第三步</div>
                    <div>
                        进入后需注册或登录医脉通账号。
                    </div>
                </div>
                <div class="way_fourth">
                    <div class="tit">第四步</div>
                    <div>
                        点击观看病例视频。
                    </div>
                </div>
            </div>
            <div class="details_btm">
                <div class="erweima_box">
                    <div class="erweima_txt">
                        您也可以通过扫描下方二维码，直接观看大咖病例解析~
                    </div>
                    <div class="erweima_block">
                        <img src="res/img/erweima.png" />
                    </div>
                    <div class="erweima_txt">
                        MCC号JAK20032641有效期2021-03-20，资料过期，视同作废。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
#end