#define layout_web()
<html lang="en">
<head>
    <base href="/nhblood/"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    #@title?()
    <script type="text/javascript" src="res/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="res/js/base.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="res/js/share.js?v=4"></script>
    <script src="res/swiper/js/swiper.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="res/swiper/css/swiper.css?d=20200319">
    <link rel="stylesheet" href="res/css/reset.css">
    <link rel="stylesheet" href="res/css/index.css?d=20200319">
    #@css?()
    #@js?()
    <script>
    /*  var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?20e44e51569dc4fb626c23c7cfaea33b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();*/
    </script>
</head>
<!--body包进main里面-->
#@main?()
</html>
#end

#define layout_admin()
<html lang="en">
<head>
    <base href="/nhblood/"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    #@title?()
    <script type="text/javascript" src="libs/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="libs/layui/layui.js"></script>
    <link rel="stylesheet" href="libs/layui/css/layui.css"/>

    <!-- UEditor -->
    <!-- 配置文件 -->
    <script type="text/javascript" src="libs/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="libs/ueditor/ueditor.all.js"></script>

    <script src="libs/jQuery-File-Upload-9.9.3/js/vendor/jquery.ui.widget.js"></script>
    <script src="libs/jQuery-File-Upload-9.9.3/js/jquery.iframe-transport.js"></script>
    <script src="libs/jQuery-File-Upload-9.9.3/js/jquery.fileupload.js"></script>
    #@css?()
    #@js?()
</head>
<!--body包进main里面-->
#@main?()
</html>
#end

#define layout_web_adv()
<html lang="en">
<head>
    <base href="/nhblood/"/>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    #@title?()
    <link rel="stylesheet" type="text/css" href="res/css/css.css" />
    #@css?()
    #@js?()
</head>
<!--body包进main里面-->
#@main?()
</html>
#end
